body{
    background-color: #262a2f;
    color: #333;
}
.search-box{
    width: 600px;
    margin: 200px auto 0;
    background-color: red;
    border-radius: 11px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20PX;
    margin-top: 100px;
}
input{
    flex: 1;
    height: 50px;
    background-color: transparent;
    font-size: 18px;
    border: 0;
    outline: 0;
    color: #333;
}
button{
    background-color: transparent;
    border: none;
    font-size: 20px;
    height: 40px;
    width: 40px;
    cursor: pointer;
}
.result-box ul{
    border-top: 1px solid #999;
    padding: 15px 10px;
}
.result-box ul li{
    list-style: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 15px 10px;
}
::placeholder{
    color: #555;
}